<h2>Введіть свій логін і пароль для входу!</h2>
	<form action="" method="POST">
		<table>
			<tr>
				<td>E-mail:</td>
				<td><input type="text" size="30" name="email"></td>
			</tr>
			<tr>
				<td>Пароль:</td>
				<td><input type="password" size="30" maxlength="20" name="pass"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td colspan="2"><input type="submit" value="Ввійти" name="submit"></td>
			</tr>
		</table>
	</form>
