body {
	margin: 0;
	padding: 0;
	background: #fff;
}

#pushobj {
	position: absolute;
	top: 7px;
	left: 300px;
	color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	z-index: 1;
}

h3 {
	font-size: .7em !important;
}

.panel {
	width: 1000px;
}

.panel-body {
	font-size: .6em !important;
}

.panel-content {
	max-height: 400px;
	overflow: auto;
}