<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Вхід Шаблон для початкового завантаження</title>

    <!-- Bootstrap core CSS -->
    <link href="./html/tpl/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./html/tpl/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="./html/tpl/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./html/tpl/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="POST" action="">
          <img src="./imeg/logoKK-594536083.png" alt="logo">
        <h2 class="form-signin-heading">Кабінет користувача
        <label for="inputEmail" class="sr-only">Особовий рахунок</label>
        <input type="text" id="inputEmail" name="lk" class="form-control" placeholder="Особовий рахунок" required autofocus>
        <label for="inputPassword" class="sr-only" >Пароль</label>
        <input type="password" id="inputPassword" name="pass" class="form-control" placeholder="Номер лічлиьника" required>
 <!--       <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>-->
        <input class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Ввійти">
      </form>
    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./html/tpl/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
